.trafficLight{
    background-color: black;
    margin-top: 20px;
    width: 150px;
    height: 360px;
    border-radius: 10px;
   padding: 25px;
   align-items: center;
}

.poste {
    background-color: black;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    margin-top: 100px;
    border-radius: 0%;
    
}

.poste1{
    background-color: black;
    border-radius: 10px;
    width: 30px;
    height: 600px;
    margin-top: 100px;
    border-radius: 0%;

}

button{
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: 0.2s;
}

button:hover {
    background: white;
    box-shadow: 0 0 10px white; 
    box-shadow: 0 0 40px white;
    box-shadow: 0 0 80px white;
}